@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

@font-face{
  font-family:Dense;
  src: url("../fonts/Dense.otf")
}
*{
/  border: 1px dashed black;
}
html{
  height:100%;
  width:100%;
  overflow: auto; 
padding:0;
}

body{
margin:0;
  height:100%;
  width:100%;
  background-image: url("../img/snow.jpg");
  background-color:#ccc;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
//  position:fixed;
  overflow: auto; 
}

.description{
  overflow: hidden; 
  position:relative;
  display: block;
  z-index: 1;
  height: 59%;
  width: 100%;
margin-bottom: 1%;
  border-radius:50px;
}
.descriptionText{
  position:relative;
  font-family: Dense;
  word-wrap:normal;
  font-size:2em;
  margin: 0% 5% 
}
.detailText{
  position:relative;
  font-family: Dense;
  word-wrap:normal;
margin: 0% 5% ;
  font-size:2em;

}

.education{
  position:relative;
  display: inline-block;
  height: 40%;
  width: 49%;
  margin-left:1%;
  overflow: hidden; 
  border-radius:50px;
}

.work{
  position:relative;
  display: inline-block;
  height: 40%;
  width: 49%;
  overflow: hidden; 
  border-radius:50px;
}

.transparency{

  position:absolute;
  background-color:white;
  -webkit-filter: opacity(0.7);
  -moz-filter: opacity(0.7);
  -o-filter: opacity(0.7);
  -ms-filter: opacity(0.7);
  filter: opacity(0.7);

  height: 100%;
  width: 100%;
}


.content{

  position:relative;
  display: block;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;

}

#simple-menu{
  background-color: #8BC34A;
  border: solid 6px #4CAF50;
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index:9999;
  width: 3%;
  min-width:50px;
  height:auto;
  border-radius:5px;
}


#dog{

    width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:10%;
}

#name{
  font-size: 3em;
       margin-bottom:0;
       margin-top:0.1em;
}

#highlight{
  position:relative;
  margin: 0 auto;
  height: 25%;
  width: 70%;
}

.wrapper{
  display:block;
  position:relative;
  width:100%;
  min-height:100%;
  overflow:scroll;
}

.header{
  position:relative;
  font-family: Dense;
  word-wrap:normal;
  margin-top: 3%;
  margin-bottom: 1%;
}

.wrapper { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper:after {
  padding-top: 20%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.wrapper2 { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper2:after {
  padding-top: 50%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.row{
position:relative;
//overflow:hidden;
/border: black dashed;
}

.parent {display: table;height:100%; width:100%} /* For centering */

.child {
    display: table-cell;
    vertical-align: middle;
    text-align:left;
}


