@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

html{
  height:100%;
  width:100%;
padding:0;
}

body{
margin:0;
  height:100%;
  width:100%;
  background-image: url("../img/grass.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  position:fixed;
}

.background-image{
  background: fixed;
  background-image: url("../img/grass.jpg");
  background-size: cover; 
  background-repeat: no-repeat;

  position:absolute;
  display: block;
  z-index: 1;
  height: 80%;
  width: 80%;
  left:10%;
	top:10%;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);


  border-radius:100px;
}

.background-image .transparency{
  background-color:white;

  height: 100%;
  width: 100%;


  -webkit-filter: opacity(0.5);
  -moz-filter: opacity(0.5);
  -o-filter: opacity(0.5);
  -ms-filter: opacity(0.5);
  filter: opacity(0.5);

  border-radius:100px;
}


.content{
  z-index: 9999;

  position:absolute;
  display: block;
  z-index: 1;
  height: 80%;
  width: 80%;
  left:10%;
	top:10%;

}

#simple-menu{
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
}

#homePictureC{
  //position:absolute;
  width:24%;
        /*
  left:38%;
  top:5%;*/
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
      
}

#homePicture{
    
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#dog{
    max-width: 10%;
    height: auto;
    width: auto\9; /* ie8 */
}

.centeredText{
  text-align:center;
  font-family: Manifesto;
}

#name{
  font-size: 3em;
       margin-bottom:0;
       margin-top:0.1em;
}
