@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

html{
  height:100%;
  width:100%;
padding:0;
}

body{
margin:0;
  height:100%;
  width:100%;
  background-image: url("../img/grass.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  position:fixed;
}

.background-image{
  background: fixed;
  background-image: url("../img/grass.jpg");
  background-size: cover; 
  background-repeat: no-repeat;

  position:absolute;
  display: block;
  z-index: 1;
  height: 80%;
  width: 80%;
  left:10%;
	top:10%;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);


  border-radius:100px;
}

.transparency{
  background-color:white;

  height: 100%;
  width: 100%;


  -webkit-filter: opacity(0.5);
  -moz-filter: opacity(0.5);
  -o-filter: opacity(0.5);
  -ms-filter: opacity(0.5);
  filter: opacity(0.5);

  border-radius:100px;
}




.content{
  z-index: 9998;

  position:relative;
  display: block;
  height: 80%;
  width: 80%;
  left:10%;
	top:10%;

}

#simple-menu{
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index:9999;
}

#homePictureC{
  //position:absolute;
  width:24%;
        /*
  left:38%;
  top:5%;*/
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
      
}

#homePicture{
    
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#dog{
    max-width: 10%;
    height: auto;
    width: auto\9; /* ie8 */
}

.centeredText{
  text-align:center;
  font-family: Manifesto;
}

#name{
  font-size: 3em;
       margin-bottom:0;
       margin-top:0.1em;
}

#highlight{
  position:relative;
  margin: 0 auto;
  height: 25%;
  width: 70%;
}
.yellowTransparency{
position:absolute;
height:100%;
width:100%;
  background-color:yellow;

  -webkit-filter: opacity(0.5);
  -moz-filter: opacity(0.5);
  -o-filter: opacity(0.5);
  -ms-filter: opacity(0.5);
  filter: opacity(0.5);
  border-radius:50px;
  //z-index:10;
}
.ball{
  position:relative;
  height:5em;         
  width:5em;         
  border-radius:2.75em;
  background-color:#8BC34A;
  top:15%;
  margin: 0 auto;
border:solid black;
}

.projectText{
  position:relative; 
  top:20%;
}

.project{

width:5em;
height:100%;
position: relative;
margin: 0 auto;
display:table-cell;
}

#leftProject{
  
}

#middleProject{
}

#rightProject{
}

