@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

html{
margin:0;
   padding:0;
   height:100%;
width:100%
}

body{
margin:0;
   padding:0;
   height:100%;
min-width:1024px;
   
  background-image: url("../img/grass.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment:fixed; 
  overflow:auto;
  
}


.transparency{
  background-color:white;

  height: 100%;
  width: 100%;

  position:absolute;

  -webkit-filter: opacity(0.6);
  -moz-filter: opacity(0.6);
  -o-filter: opacity(0.6);
  -ms-filter: opacity(0.6);
  filter: opacity(0.6);

  border-radius:25px;
}




.content{
  z-index: 9998;

  position:relative;
  display: inline-block;
/  min-height: 80%;
  width: 90%;
  margin-top:5%;
  margin-left:5%;
  text-align:center;

}

#simple-menu{
  background-color: #8BC34A;
  border: solid 6px #4CAF50;
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index:9999;
  width: 3%;
  min-width:50px;
  height:auto;
  border-radius:5px;
}


#dog{

    width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:10%;
}



#homePictureC{
  width:48%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:2%;
      
}

#homePicture{
    
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


.centeredText{
  text-align:center;
  font-family: Manifesto;
position:relative;
}

#name{
  font-size: 3em;
       margin-bottom:0;
       margin-top:0.1em;
}

.highlight{
  position:relative;
           margin-left:auto;
           margin-right:auto;
           margin-bottom:1%;
  width: 100%;
display:inline-block;
}
.yellowTransparency{
position:absolute;
height:100%;
width:100%;
  background-color:yellow;

  -webkit-filter: opacity(0.5);
  -moz-filter: opacity(0.5);
  -o-filter: opacity(0.5);
  -ms-filter: opacity(0.5);
  filter: opacity(0.5);
  border-radius:25px;
}
.ball{
  position:relative;
  height:5em;         
  width:5em;         
  border-radius:2.75em;
  top:15%;
  margin: 0 auto;
border:solid black;
overflow:hidden;
display:inline-block;
}

.projectText{
  position:relative; 
  top:20%;
}

.project{

width:5em;
height:100%;
position: relative;
margin: 0 auto;
display:table-cell;
}

.fitparent{
height:100%;
width:100%;
}

.padding{
  padding-left:1em;
  padding-right:1em;
  width:100%;
height:100%;
}
