@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

@font-face{
  font-family:Dense;
  src: url("../fonts/Dense.otf")
}
*{
/  border: 1px dashed white;
}
html{
  height:100%;
  width:100%;
  overflow: auto; 
padding:0;
}

body{
margin:0;
  height:100%;
  width:100%;
  background-image: url("../img/night.jpg");
  background-color:#ccc;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto; 
}

.interest{
  position:absolute;
  height: 100%;
  width: 100%;
  margin:1%;
  border-radius:25px;
  overflow:hidden;
}

.transparency{

  position:absolute;
  background-color:white;
  -webkit-filter: opacity(0.4);
  -moz-filter: opacity(0.4);
  -o-filter: opacity(0.4);
  -ms-filter: opacity(0.4);
  filter: opacity(0.4);

  height: 100%;
  width: 100%;
  top:0;
}


.content{

  position:relative;
  display: block;
  width: 90%;
  left: 5%;
  top: 5%;

}

#simple-menu{
  background-color: #8BC34A;
  border: solid 6px #4CAF50;
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index:9999;
  min-width:50px;
  width: 3%;
  height:auto;
  border-radius:5px;
}


#dog{

    width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:10%;
}

.modal-backdrop {
  / background-color: red;
}

.modal-content{
  background-color: #CCFF90;
}

.modal-header {
  background-color:#81D4FA;
}

.modal-body {
  background-color: #CCFF90;
}

.tab-content{
  background-color: #CCFF90;
}

.nav-tabs{
  background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #CCFF90;
}

.modal-dialog{
  /width: 80%;
}

.modal-block{
  position:absolute;
  width: 100%;
  height:100%;
  border-radius:5px;
  overflow:hidden;
}

.modal-box{
  font-family:Manifesto;
  font-size: 2em;
  background-color:#FFF59D;
  border: solid #CE93D8;
}
.content img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.modal .wrapper img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.modal .wrapper2 img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.modal-header .active li{
  background-color: #CCFF90;
}

.fitParent{
max-width:100%;
}

.row{
position:relative;
overflow:hidden;
/border: black dashed;
}

.modal-body {
  overflow-y: auto;
}

.modal-content{
  position:relative;
  height:90%;
}
.wrapper { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper:after {
  padding-top: 49%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.wrapper2 { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper2:after {
  padding-top: 80%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.absolute, .table, .middle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.absolute {
    position: absolute;
}
.table {
    display: table;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.leftPicture{
  display: table;
  float:left;
  height:100%; 
  width:50%; 
  overflow:hidden;
  position:relative
}

.parent {display: table;height:100%; width:100%} /* For centering */

.child {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {margin:1%}

.child p{
  color:white; font-size: 2.5em;font-family:Manifesto; margin-left:1%; width:80%;
}

.centeredText{
  text-align:center;
  font-family: Manifesto;
position:relative;
color:black;
}

.music1{
  background-image: url("../img/music_caoge1.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
  background-position: -4em 0;
  background-color:grey;
}

.music1:hover{
  background-image: url("../img/music_caoge4.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
  background-position: 0 0;
  background-color:black;
}

.music2{
  background-image: url("../img/music_jay2.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
}

.music2:hover{
  background-image: url("../img/music_jay4.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
  background-color:black;
}

.music3{
  background-image: url("../img/music_wlm2.jpg");
  background-size: cover; 
  background-position: -4em 0;
  background-repeat:no-repeat;
}
.music3:hover{
  background-image: url("../img/music_wlh4.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
  background-color:black;
  background-position: 0 -.6em;
}
.music4{
  background-image: url("../img/music_jjlin2.jpg");
  background-size: cover; 
  background-repeat:no-repeat;
}
.music4:hover{
  background-image: url("../img/music_jjlin3.png");
  background-size: cover; 
  background-repeat:no-repeat;
  background-color:black;
  background-position:-1.3em 0em;
}
.rightBar{
  height:100%;
  width:4em;
float: right;
}

.animeBar{
  height:100%;
width:100%;
}

#anime1{
  background-image: url("../img/anime_dbz1.jpg");
  background-size: cover; 
}

#anime2{
  background-image: url("../img/anime_naruto1.jpg");
  background-size: cover; 
  background-position:0 -.5em;
    background-repeat:no-repeat
}

#anime3{
  background-image: url("../img/anime_fz1.jpg");
  background-size: cover; 
}

#anime4{
  background-image: url("../img/anime_sao1.jpg");
  background-size: cover; 
}

#vg1{
  background-image: url("../img/vg_link.gif");
  background-size: cover; 
}

#vg2{
  background-image: url("../img/vg_tetris.gif");
  background-size: cover; 
  background-position: 0 -1em
}

#vg3{
  background-image: url("../img/vg_phoenix.gif");
  background-size: cover; 
}

#vg4{
  background-image: url("../img/vg_smash.gif");
  background-size: cover; 
}

#mov1{
  background-image: url("../img/movies_prestige.gif");
  background-size: cover; 
}
#mov2{
  background-image: url("../img/movies_5cm.gif");
  background-size: cover; 
}
#mov3{
  background-image: url("../img/movies_blue.gif");
  background-size: cover; 
}
#mov4{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
  background-position:-1.5em 0;
}

#food1{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
#food2{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
#food3{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
#food4{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
#food5{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
#food6{
  background-image: url("../img/movies_fight.gif");
  background-size: cover; 
}
