@font-face{
  font-family:Manifesto;
  src: url("../fonts/MANIFESTO.ttf")
}

@font-face{
  font-family:Dense;
  src: url("../fonts/Dense.otf")
}

@font-face{
  font-family:Museo-Sans;
  src: url("../fonts/museo.otf")
}

*{
/  border: 1px dashed white;
}
html{
  height:100%;
  width:100%;
  overflow: auto; 
padding:0;
}

body{
margin:0;
  height:100%;
  width:100%;
  background-image: url("../img/building.png");
  background-color:#ccc;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto; 
}

.project{
  position:absolute;
  height: 100%;
  width: 100%;
  margin:1%;
  border-radius:25px;
  overflow:hidden;
}

.transparency{

  position:absolute;
  background-color:white;
  -webkit-filter: opacity(0.7);
  -moz-filter: opacity(0.7);
  -o-filter: opacity(0.7);
  -ms-filter: opacity(0.7);
  filter: opacity(0.7);

  height: 100%;
  width: 100%;
}


.content{

  position:relative;
  display: block;
  width: 90%;
  left: 5%;
  top: 5%;

}

#simple-menu{
  background-color: #8BC34A;
  border: solid 6px #4CAF50;
  position:fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index:9999;
  min-width:50px;
  width: 3%;
  height:auto;
  border-radius:5px;
}


#dog{

    width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:10%;
}

.modal-backdrop {
  / background-color: red;
}

.modal-header {
  background-color:#81D4FA;
}

.modal-body {
  background-color: #CCFF90;
}
.modal-dialog{
  /width: 80%;
}

.modal-block{
  position:absolute;
  width: 100%;
  height:100%;
  border-radius:5px;
  overflow:hidden;
}

.modal-box{
  font-family:Manifesto;
  font-size: 2em;
  background-color:#F3E5F5;
  border: solid rgba(0,0,0,0.7);
}
.content img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.modal .wrapper img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.fitParent{
max-width:100%;
}

.row{
position:relative;
overflow:hidden;
/border: black dashed;
}

.modal-body {
  overflow-y: auto;
}

.modal-content{
  position:relative;
  height:90%;
}
.wrapper { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.wrapper2 { /* sets aspect ratio */
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
overflow:hidden;
}
.wrapper2:after {
  padding-top: 40%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.absolute, .table, .middle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.absolute {
    position: absolute;
}
.table {
    display: table;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.leftPicture{
  display: table;
  float:left;
  height:100%; 
  width:50%; 
  overflow:hidden;
  position:relative
}

.parent {display: table;height:100%; width:100%} /* For centering */

.child {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {margin:1%}

.informationBar{
  position:absolute;
  display:block;
  font size:0.75rem;
  line-height:3em;
  bottom:0;
  background-color:rgba(0,0,0,0.7);
  width:100%;
  z-index:2;
  color:white;
  font-family:Museo-Sans, helvetica, arial, sans-serif;
  text-align:center;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.95s linear;
   -moz-animation:ripple 0.95s linear;
    -ms-animation:ripple 0.95s linear;
     -o-animation:ripple 0.95s linear;
        animation:ripple 0.95s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.modal-header .close {
  font-size: 2.8em; //bigger
}
